.cardWrap {
    background-color: aliceblue;
    color: #003a8c;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 2%;
}
h3 {
    text-align: center;
    padding-top: 1%;
}

.image img {
    height: 175px;
}

.live {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: center;
}

.card-title {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding-top: 1.5%;
}

.card-role {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding-top: 1.3%;
}