@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

body {
  font-family: "Roboto", sans-serif;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3f81b3 url('./images/rencen3.jpg') no-repeat center;
	  background-size: cover;
    overflow: hidden;
}

h1 {
  position: relative;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: calc(10px + 10vw);
  font-weight: 700;
  color: #40a9ff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  perspective: 500px;
}

h1::before,
h1::after {
  content: attr(carl-label);
  position: absolute;
  top: 80px;
  left: 0;
  transform: translate(-50%, -50%);
  text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.3);
}

h1::before {
  animation: floatAbove 3.5s ease-in-out infinite;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

h1::after {
  opacity: 0.65;
  color: #0050b3;
  filter: blur(0.02em);
  transform: translate(-50%, -50%) rotateX(21deg);
  animation: floatBelow 3.5s ease-in-out infinite;
  -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

@keyframes floatAbove {
  50% {
      transform: translate(-50%, -60%);
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
              clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
  }
}

@keyframes floatBelow {
  50% {
      transform: translate(-50%, -60%) rotateX(10deg);
      -webkit-clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
  }
}
