.wrap {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background: white;
}

/*TOP SECTIONS*/

/*TOP LEFT*/

.about-whole {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #1890ff;
    margin-top: 7%;
    height: 500px;
}

.about-top {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.top-title h2 {
    font-size: 3rem;
    color: #003a8c;
    text-align: center;
}

.about-top h3 {
    font-size: 2.5rem;
    color: #002766;
    text-align: center;
}

.about-top h4 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    border: 1px solid white;
    padding-top: 3%;
    padding-bottom: 3%;
}

/*TOP MIDDLE*/

.current {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin-top: 4%;
}

.ctop {
    color: #bae7ff;
}

.cmiddle {
    color: #0050b3
}

.cmiddle h4 {
    color: #bae7ff;
}

.cmiddle2 {
    color: #0050b3;
}

.cmiddle2 h4 {
    color: #bae7ff;
}

.graduate {
    color: #bae7ff;
}

.graduate h4 {
    color: #0050b3;
    border: 1px solid #bae7ff;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;

}




/* MIDDLE SECTION */


.middle {
    background-color: white;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}

.toprow {
    background: white;
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

.react {
    height: 200px;
    width: 200px;
}

.react:hover {
    animation: rotation .75s infinite linear;
}

.css {
    height: 200px;
    width: 200px;
}

.css:hover {
    animation: rotation2 1s infinite linear;
}

.git {
    height: 200px;
    width: 200px;
}

.git:hover {
    animation: rotation 1s infinite linear;
}

.node {
    height: 200px;
    width: 200px;
}

.node:hover {
    animation: rotation2 .75s infinite linear;
}

.bottomrow {
    background: white;
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
}

.python {
    height: 200px;
    width: 200px;
}

.python:hover {
    animation: rotation 2s infinite linear;
}

.typescript {
    height: 200px;
    width: 200px;
}

.typescript:hover {
    animation: rotation2 .5s infinite linear;
}

.webkit {
    height: 200px;
    width: 200px;
}

.webkit:hover {
    animation: rotation .75s infinite linear;
}

.heroku {
    height: 200px;
    width: 200px;
}

.heroku:hover {
    animation: rotation2 1s infinite linear;
}

.list {
    width: 100%;
    margin: 0 auto;
    background-color: #1890ff;
    
}

.list h2 {
    text-align: center;
    color: white;
}

.lambdatitle {
    background-color: white;;
}

.lambdatitle h2 {
    color: #003a8c;
    display: flex;
    justify-content: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes rotation2 {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 768px){
    .toprow {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .react {
        padding: 10%;
    }
    .css {
        padding: 10%;
    }
    .bottomrow {
        flex-flow: row wrap;
        justify-content: space-around;
        padding-bottom: 10%;
    }
    .python {
        padding: 10%;
    }
    .typescript {
        padding: 10%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .react{
        height: 100px;
        width: 100px;
    }
    .css {
        height: 100px;
        width: 100px;
    }
    .git {
        height: 100px;
        width: 100px;
    }
    .node {
        height: 100px;
        width: 100px;
    }
    .python {
        height: 100px;
        width: 100px;
    }
    .typescript {
        height: 100px;
        width: 100px;
    }
    .webkit {
        height: 100px;
        width: 100px;
    }
    .heroku {
        height: 100px;
        width: 100px;
    }
    .btnhere {
        padding-left: 5%;
        padding-right: 5%;
        letter-spacing: .1rem;;
    }
}