.wrap {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background: #002766;
}

.top {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    background-color: #003a8c;
}

.top h2 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.middle {
    background-color: #002766;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}

.toprow {
    background: white;
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

.react {
    height: 200px;
    width: 200px;
}

.react:hover {
    animation: rotation 2s infinite linear;
}

.css {
    height: 200px;
    width: 200px;
}

.css:hover {
    animation: rotation2 2s infinite linear;
}

.git {
    height: 200px;
    width: 200px;
}

.git:hover {
    animation: rotation 2s infinite linear;
}

.node {
    height: 200px;
    width: 200px;
}

.node:hover {
    animation: rotation2 2s infinite linear;
}

.bottomrow {
    background: white;
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
}

.python {
    height: 200px;
    width: 200px;
}

.python:hover {
    animation: rotation 2s infinite linear;
}

.typescript {
    height: 200px;
    width: 200px;
}

.typescript:hover {
    animation: rotation2 2s infinite linear;
}

.webkit {
    height: 200px;
    width: 200px;
}

.webkit:hover {
    animation: rotation 2s infinite linear;
}

.heroku {
    height: 200px;
    width: 200px;
}

.heroku:hover {
    animation: rotation2 2s infinite linear;
}

.list {
    width: 100%;
    margin: 0 auto;
    background-color: #1890ff;
    
}

.list h2 {
    text-align: center;
    color: white;
}

.lambdatitle {
    background-color: white;;
}

.lambdatitle h2 {
    color: #003a8c;
    display: flex;
    justify-content: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes rotation2 {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 768px){
    .toprow {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .react {
        padding: 10%;
    }
    .css {
        padding: 10%;
    }
    .bottomrow {
        flex-flow: row wrap;
        justify-content: space-around;
        padding-bottom: 10%;
    }
    .python {
        padding: 10%;
    }
    .typescript {
        padding: 10%;
    }
}