.wrap {
    
}

.top {
    display: flex;
    color: white;
}

.top h2 {
    display: inline-block;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
    background: white;
    
}

.link {
    height: 200px;
    width: 200px;
}

.link:hover {
    cursor: pointer;
}

.gmail {
    height: 200px;
    width: 200px;
}

.gmail:hover {
    cursor: pointer;
}

.twitter {
    height: 200px;
    width: 200px;
}

.twitter:hover {
    cursor: pointer;
}

.face {
    height: 200px;
    width: 200px;
}

.face:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .icons {
        width: 100%;
        height: auto;
        flex-flow: row wrap;
    }
    .top {
        margin-top: 12.5%;
    }
    .link {
        height: 250px;
        width: 250px;
        padding: 5%;
    }
    .gmail {
        height: 250px;
        width: 250px;
        padding: 5%;
    }
    .twitter {
        height: 250px;
        width: 250px;
        padding: 5%;
    }
    .face {
        height: 250px;
        width: 250px;
        padding: 5%;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .top {
        margin-top: 25%;
    }
    .link {
        height: 125px;
        width: 125px;
    }
    .gmail {
        height: 125px;
        width: 125px;
    }
    .twitter {
        height: 125px;
        width: 125px;
    }
    .face {
        height: 125px;
        width: 125px;
    }
    .icons {
        padding-top: 25%;
    }
}